<%- include('layout/header.ejs')%>
<%- include('layout/navigation.ejs')%>
<div class="container">
<table class="table table-dark table-striped-2 uhh-green white-text">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col"><%= Contact.firstName %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Last Name</th>
        <th scope="row"><%= Contact.lastName %> </th>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= Contact.email %></td>
        </tr>
      <tr>
        <th scope="row">Subject</th>
        <td> <%= Contact.subject %> </td>
      </tr>
      <tr>
        <th scope="row">Comments</th>
        <td><%= Contact.comments %></td>
      </tr>

    </tbody>
  </table>
<%- include('layout/footer.ejs')%>